.toys-index {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 1em;



}

.toys-index-header {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(4,1fr)
}