.toys-index {
    display: flex;
    /* gap: 1rem; */
    width: 100vw;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1em;



}

.toys-index-sidebar {
    display: grid;
    grid-template-columns: minmax(auto,15vw);
    /* gap: 1.5rem;
    width: 15vw */
}

.toys-index-sidebar>* {}

.toy-filter {
    display: flex;
    flex-direction: column;
}

.toy-filter form input {
    /* width: fit-content; */
    /* background-color: red; */
}